<div id="cabecalho" >
    <div  id="data_tempo">23/09/2019 10:21:57 </div>
    <div  id="minha_conta">MINHA CONTA</div>
    <div  id="configuracoes"><img src="/assets/configuracoa.fw.png" ></div>
</div>
<nav id="barra" >
    <div id="barra-logo" href="#">
      <img src="/assets/logo.fw.png" >
    </div>
    <div id="barra-menu" >
      <ul >
        <li><img src="/assets/dashboard.fw.png" ><a >DASHBOARD </a></li>
        <li><img src="/assets/agenda.fw.png" ><a >AGENDAR POST </a></li>
        <li><img src="/assets/calendario.fw.png" ><a >CALENDÁRIO </a></li>
        <li><img src="/assets/inbox.fw.png" ><a >INBOX </a></li>
        <li><img src="/assets/feed.fw.png" ><a >FEED </a></li>
        <li><img src="/assets/workflow.fw.png" ><a >WORKFLOW </a></li>
        <li><img src="/assets/compartilhamento.fw.png" ><a >ACOMPANHAMENTO </a></li>
        <li><img src="/assets/relatorio.fw.png" ><a >RELATÓRIOS </a></li>    
      </ul>
    </div>
  </nav>

<div class="container paginas">
<app-dashboard></app-dashboard>
</div>



